<!--  Replace menu links here -->

<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/index.html" title="Return Home">
        {% include svg/home.svg %}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/faceleg" title="Visit my LinkedIn Profile">
        {% include svg/linkedin.svg %}
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{{site.baseurl}}/feed.xml" title="RSS Feed">
        {% include svg/rss.svg %}
    </a>
</a>
</li>
