{% comment %} All this area goes before </body> closing tag {% endcomment %}
{% comment %} Google tag (gtag.js) {% endcomment %}
{% comment %}
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P0XXVVMQQ3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-P0XXVVMQQ3');
</script>
{% endcomment %}
